.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;
  padding: 6px;

  border-radius: var(--radius-small);
  background: var(--color-gradient-primary);
  color: #fff;
}

.logo svg {
  width: var(--space-4);
  height: var(--space-4);
}
